name: Blazor WebAssembly CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout Code
        uses: actions/checkout@v4

    
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

     
      - name: Restore Dependencies
        run: dotnet restore

     
      - name: Build & Publish
        run: dotnet publish -c Release -o publish

     
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_PAT1 }}   
          publish_dir: ./publish/wwwroot
